<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">

<dom-module id="user-login">
  <template>
    <style>
      :host {
        display: block;
        color: black;
      }
      #feedback {
        color: red;
      }
    </style>
    <iron-ajax
      id="ajax"
      with-credentials="true"
      url="[[loginURL]][[params]]"
      handle-as="json"
      content-type="application/x-www-form-urlencoded"
      on-response="handleResponse"
      last-response="{{response}}"
      debounce-duration="300"></iron-ajax>

    <template id="test" is="dom-if" if="{{notLoggedIn}}">
       
      <paper-input id="email" label="email" type="email" value="{{email}}">
          <iron-icon icon="mail" slot="prefix"></iron-icon>
          <div slot="suffix">@email.com</div>
      </paper-input>
      <paper-input id="pass" label="Password" type="password" value="{{password}}" required></paper-input>
      <paper-button raised on-click="login">Logg inn</paper-button>
      <div id='feedback'>{{errorInfo}}</div>
       </template>
    
    <template is="dom-if" if="{{loggedIn}}">
      Velkommen <strong>[[fname]] [[lname]]</strong><br>
      <paper-button raised on-click="profile">Min profil</paper-button>
      <paper-button raised on-click="logout">Logg ut</paper-button>
    </template>
  </template>

  <script>
    /**
     * `user-login`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class UserLogin extends Polymer.Element {
      static get is() { return 'user-login'; }
      static get properties() {
        return {
          loginURL : {                                    // Used by iron-ajax
            type: String,
            value: window.Polymer.apiBaseURL+'login.php'
          },
          notLoggedIn: {                                  // Used by template "dom-if"
            type: Boolean,
            value: true,
            notify: true
          },
          loggedIn: {                                     // Used by template "dom-if"
            type: Boolean,
            value: false
          },
          role: {                                     // From user input in login dialog
            type: Number,
            value: 1
          },  
          email: String,                                   // From user input in login dialog
          userDetails: {                                  // From ajax response
            type: Object
          },
          password: String,                                   // From user input in login dialog
          userDetails: {                                  // From ajax response
            type: Object
          },
          fname : String,
          lname : String,
          student: {                                      // Exported from element, shows what type of user that is logged in
            type: Boolean,
            value: false,
            notify: true
          },
          teacher: {                                      // Exported from element, shows what type of user that is logged in
            type: Boolean,
            value: false,
            notify: true
          },
          admin: {                                      // Exported from element, shows what type of user that is logged in
            type: Boolean,
            value: false,
            notify: true
          },
          errorInfo: String, 
          params : String,                                 // Set to '?logout=true' for logout, '' for all other situations
          page: {
            notify: true
          },
          route: {
            notify: true
          },
          user : {
            type: String,
            value: this.email
          }
        };
      }

      // Checks the login status as every time the webpage refreshes. 
      ready(){
        super.ready();
        this.$.ajax.method = "POST";
        this.params = '';
        this.$.ajax.body = {
        }
        this.$.ajax.generateRequest();
      }

      // Handles the login request when user clicks "login"
      login() {                                    // Called when user presses button in login dialog
        this.$.ajax.method = "POST";
        this.params = '';
        this.$.ajax.body = {
          email: this.email,
          password: this.password
        }
        this.$.ajax.generateRequest();
        //this.parentElement.active = false;                // Close the dropdown
      }

      // Logs out the user when clicked "logout"
      logout() {                                        
        //Sender request to update the sessions
        console.log('logger ut..');
        this.$.ajax.method = "GET";
        this.params = '?logout=true';
        this.$.ajax.generateRequest();
      }

      profile() {                                         // Called when user presses profile button
        //this.page = 'profile';
        this.set('route.path', '/profile/');
        this.parentElement.active = false;                // Close the drop down
      }

      handleResponse(res) {                               // Handles the ajax response for login
        if(res.detail.response.status == 'OK'){
          this.notLoggedIn = res.detail.response.role==0;
          this.loggedIn = res.detail.response.role!=0;
          this.student = res.detail.response.role==1;
          this.teacher = res.detail.response.role==2;
          this.admin = res.detail.response.role==3;
          this.fname = res.detail.response.fname;
          this.lname = res.detail.response.lname;
          this.parentElement.active = false;
        } else {  //checks if user is logged out
          if(res.detail.response.status == 'logged_out'){
            this.loggedIn = false; 
            this.notLoggedIn = true;                   // Setting info approriate for logging out state
            this.role = 0;
            this.student = false;
            this.teacher = false;
            this.admin = false;
            this.$.ajax.method = "POST";
            this.params = ''; 
            //this.parentElement.active = false; 
          } 
        }
        //Gives the user feedback wether wrong crendentials or pending acception from admin in case of new user
        if(res.detail.response.feedback) {
          if(res.detail.response.feedback == 1){
            this.errorInfo = 'Wrong email or password!';
          } else if (res.detail.response.feedback == 2){
            this.errorInfo = "Access pending!";
          }
        }

      }
    }

    window.customElements.define(UserLogin.is, UserLogin);
  </script>
</dom-module>