<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/simple-dropdown/simple-dropdown.html">
<link rel="import" href="../bower_components/vaadin-upload/vaadin-upload.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="../my_components/user-login.html">


<!-- Det som brukes for øyeblikket-->
<link rel="lazy-import" href="my-user-register.html">
<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-upload.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-videos.html">
<link rel="lazy-import" href="my-deletion.html">
<link rel="lazy-import" href="my-watch.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      simple-dropdown {
        --simple-dropdown-menu: {
          right: 0em;
          width: 15em;
          color: white;
          padding: 12px 18px;
        }
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="view1" href="[[rootPath]]view1">Home</a>
          <a name="videos" href="[[rootPath]]videos">Videos</a>

          <template is="dom-if" if={{notRegistered}}>
          <a name="user-register"href="[[rootPath]]user-register">Register</a>
        </template>


        <a name="playlists"href="[[rootPath]]playlists">My playlists</a>



          <template is="dom-if" if="{{student}}">
            Menyvalg for student
          </template>
          <template is="dom-if" if="{{teacher}}">
            Menyvalg for lærer
            <a name="video-upload" href="[[rootPath]]upload">Upload video</a>
            <a name="deletionx" href="[[rootPath]]deletion">Delete/Edit video</a>
            <a name="create-playlist" href="[[rootPath]]create-playlist">Create playlist</a>
          </template>
          <template is="dom-if" if="{{admin}}">
            Menyvalg for admin
            <a name="video-upload" href="[[rootPath]]upload">Upload video</a>
            <a name="pending-requests" href="[[rootPath]]admin-request">Check pending requests</a>
          </template>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>NTNU forelesninger</div>
            <simple-dropdown position="bottom right" icon="icons:account-box" no-icon-rotate="false" no-blur="false">
              <user-login route="{{route}}" page="{{page}}" student="{{student}}" teacher="{{teacher}}" admin="{{admin}}" user="{{user}}" page-changed="_changePage"></user-login>
            </simple-dropdown>

          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-view1  subroute="[[subroute]]" name="view1" student="{{student}}" teacher="{{teacher}}" admin="{{admin}}"></my-view1>
          <!-- komponent for registrering av bruker -->
          <my-user-register name="user-register" route="{{route}}" page="{{page}}" notRegistered="{{notRegistered}}"></my-user-register>
          <my-upload name="upload"></my-upload>
          <!-- Komponent for å se alle videoer, for alle brukere og ikke innloggede-->
          <my-videos name="videos" route="{{route}}" page="{{page}}" subroute="[[subroute]]" student="{{student}}" teacher="{{teacher}}" admin="{{admin}}" ></my-videos>
          <!-- Komponent for å opprette ny spilleliste -->
          <my-create-playlist name="create-playlist" subroute="[[subroute]]" teacher="{{teacher}}"></my-create-playlist>
          <!-- Komponent for å se alle sine spillelister samt se vidoene som inneholdes-->
          <my-playlists name="playlists" subroute="[[subroute]]" student="{{student}}" teacher="{{teacher}}" admin="{{admin}}"></my-playlists>
          <!-- Komponent for lærere, for sletting av egne videoer -->
          <my-deletion name="deletion" subroute="[[subroute]]" ></my-deletion>
          <!-- Komponent for admin å se pending requests for å få lærer-status-->
          <my-admin-request name="admin-request" subroute="[[subroute]]" admin="{{admin}}" page="{{page}}"></my-admin-request>

          <my-watch subroute="[[subroute]]" id="{{id}}" title="{{title}}" author="{{author}}" description="{{description}}"></my-watch>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          notLoggedIn : {
            type: Boolean,
            value: true
          },
          notRegistered: {
            type: Boolean,
            value: true
          },
          reg_route : {
            computed:'computeUrl(../my_components/user-register.html)'
          }

        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      openUser(e) {
        this.$.userLogin.open();
      }


    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
