<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../src/shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-admin-request">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style include="shared-styles">
    :host {
      display: block;

      padding: 16px;
    }
    </style>
    <!-- Ajax call to update user privilieges -->
    <iron-ajax
    id="accept"
    with-credentials="true"
    method="POST"
    url="[[handle]]"
    handle-as="json"
    content-type="application/x-www-form-urlencoded"
    debounce-duration="300"></iron-ajax>

    <!-- Ajax call fetching pending requests from the API -->
    <iron-ajax
    id="ajax"
    auto
    with-credentials="true"
    url="[[url]][[params]]"
    handle-as="json"
    content-type="application/x-www-form-urlencoded"
    last-response="{{response}}"
    debounce-duration="300"></iron-ajax>

    <div class="card">
      <div class="circle">Pending requests</div>
      <template is="dom-repeat" items="{{response}}">
        <div class="card" id=[[index]]>
          <div>Email: <span>[[item.email]]</span>
            <paper-button raised on-click="buttonAccept" data-item$="[[item.email]]">Accept</paper-button>
            <paper-button raised on-click="buttonReject" data-item$="[[item.email]]">Reject</paper-button>
          </div></div>
        </template>
      </div>


    </template>
    <script>
    // Your new element extends the Polymer.Element base class
    class MyAdminRequest extends Polymer.Element {
      static get is() { return 'my-admin-request'; }
      static get properties() {
        return {
          url: { // Used by iron-ajax
            type: String,
            value: window.Polymer.apiBaseURL + 'pendingRequest.php',
          },
          handle: {
            type: String,
            value: window.Polymer.apiBaseURL + 'handleRequest.php',
          },
        };
      }

      buttonAccept(email) {
        let accept = email.target.dataset.item;
        this.$.accept.set('body', {"email": accept, "action": true});
        //Generates the request and sends it to the API
        this.$.accept.generateRequest();
        //Updates the page, so the request will dissapear
        this.$.ajax.generateRequest();
      }

      buttonReject(email) {
        let reject = email.target.dataset.item;
        this.$.accept.set('body', {"email": reject});
        //Generates the request and sends it to the API
        this.$.accept.generateRequest();
        //Updates the page, so the request will dissapear
        this.$.ajax.generateRequest();
      }

      back() {
        this.set('route.path', '../'); // sends the user back to home- page
      }
    }

    //Now, register your new custom element so the browser can use it
    customElements.define(MyAdminRequest.is, MyAdminRequest);
    </script>
  </dom-module>
