<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../src/shared-styles.html">

<dom-module id="my-create-playlist">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style include="shared-styles">
    :host {
      display: block;
      padding: 16px;
    }
    </style>
    <iron-ajax
    id="createPlaylist"
    with-credentials="true"
    method="POST"
    url="[[url]][[params]]"
    handle-as="json"
    content-type="application/x-www-form-urlencoded"
    last-response="{{response}}"
    debounce-duration="300"></iron-ajax>

    <div class=card>
      <div class="circle">Create playlist</div>
      <paper-input id="title" label="Playlist title" value="{{title}}"></paper-input>
      <paper-input id="description" label="Playlist description" type="text" value="{{description}}"></paper-input>
      <paper-button raised on-click=createPlaylist>Create</paper-button>
      <template is="dom-if" if={{response}}>
        {{response}}
      </template>
    </div>



  </template>
  <script>
  // Your new element extends the Polymer.Element base class
  class MyCreatePlaylist extends Polymer.Element {
    static get is() { return 'my-create-playlist'; }
    static get properties() {
      return {
        url: {
          type: String,
          value: window.Polymer.apiBaseURL + 'createPlaylist.php',
        },
        title: String,
        description: String,
      }
    }

    createPlaylist(e) {
      //Title and description has been written in the form
      if (this.title && this.description) {
        this.$.createPlaylist.body = {
          title: this.title,
          description: this.description,
        };
        this.$.createPlaylist.generateRequest();
      }
    }
  }
  //Now, register your new custom element so the browser can use it
  customElements.define(MyCreatePlaylist.is, MyCreatePlaylist);
  </script>
</dom-module>
