<!-- Load the Polymer.Element base class and other dependencies -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../src/shared-styles.html">

<!-- extra components -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-upload/vaadin-upload.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">


<dom-module id="my-del">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      #header {
          text-align: center;
      }
    </style>


    <iron-ajax

      id="edit"
      with-credentials="true"
      url="[[url]][[params]]"
      handle-as="json"
      content-type="application/x-www-form-urlencoded"
      on-response="handleResponse"
      last-response="{{response}}"
      debounce-duration="300"></iron-ajax>

    <div class="circle">Edit/Delete</div>
    <template is="dom-if" if="{{show}}">
        <div class="card">
            <h1>Here you can edit or delete the video with title [[title]]</h1>
            <div>
                <video width="800" height="700" preload='metadata' controls src="../videos/[[id]].mp4#t=0.5">
                </video>
                <paper-input id="title" label="Title" type="text" value="{{title}}"></paper-input>
                <paper-input id="desc" label="Description" type="text" value="{{description}}"></paper-input>
                <vaadin-upload maxFiles="1" method="POST" target="{{subtitles}}" form-data-name=[[id]] >
                <span slot="drop-label">Upload subtitles</span>
              </vaadin-upload>
                <paper-button raised on-click="_back">back</paper-button>
                <paper-button raised id="[[item.id]]" raised on-click="_edit">Edit</paper-button>
                <paper-button raised id="[[item.id]]" raised on-click="_delete">Delete</paper-button>
            </div>

        </div>
    </template>

    <template is="dom-if" if="{{showFeedback}}">
        <div id='feedback'>{{errorInfo}}</div>
        <paper-button raised on-click="_back">back</paper-button>
    </template>
    </template>
    <script>
    // Your new element extends the Polymer.Element base class
    class MyDel extends Polymer.Element {
        static get is() { return 'my-del'; }
        static get properties() {
            return {
                watching : {
                    type: Boolean,
                    value: true
                },
                // the url request goes to
                url : {
                    type: String,
                    value: window.Polymer.apiBaseURL+'edit_delete_video.php'
                },
                error : {
                    type : Boolean,
                    value : false
                },
                params: {
                    type: String,
                    value: ''
                },
                video : {
                    type: Object,
                    notify: true
                },

                id : Number,
                title: String,
                tag : String,
                description : String,
                author : String,

                route: {
                    notify: true
                },
                page: {
                    notify: true
                },
                errorInfo : String,
                show : {
                    type: Boolean,
                    value: true
                },
                showFeedback : {
                    type: Boolean,
                    value: false
                },
                route: {
                    notify: true
                },
                subtitles: {
                  type: String,
                  value: window.Polymer.apiBaseURL+'uploadSubtitle.php'
                }
            };
        }

        // For editing the video
        _edit() {
            this.$.edit.method = "POST";
            this.params = '';
            this.$.edit.body = {
                id: this.id,
                title: this.title,
                description: this.description,
                operation: 'edit'
            }
            this.$.edit.generateRequest();

        }

        // Deleting the choosen video
        _delete() {
            this.$.edit.method = "POST";
            this.params = '';
            this.$.edit.body = {
                id: this.id,
                operation: 'delete'
            }
            this.$.edit.generateRequest();
        }

        // Handling the ajax response
        handleResponse(res){
            console.log(res.detail.response);
            this.show = false;
            this.showFeedback = true;

            // Gir brukeren feedback iht sletting av video
            if(res.detail.response.status) {
                if(res.detail.response.status == 'OK'){
                    this.errorInfo = 'The video was successfully deleted, please update your page og press back!';
                } else if (res.detail.response.status == 'FAIL'){
                    this.errorInfo = "Something went wrong, the video was NOT deleted!";
                }
            }

            // Gir brukeren feedback iht editering av video
            if(res.detail.response.feedback) {
                if(res.detail.response.feedback == 'OK'){
                    this.errorInfo = 'The video was successfully edited, please update your page og press back!';
                } else if (res.detail.response.feedback == 'FAIL'){
                    this.errorInfo = "Something went wrong, the video was NOT edited!";
                }
            }


        }

        // Gets the user back to videos
        _back(){
            console.log('back pressed!');
            this.set('route.path', '../videos');

        }

        // Used for debuging
        ready() {
            super.ready();
        }
    }

    //Now, register your new custom element so the browser can use it
    customElements.define(MyDel.is, MyDel);
  </script>
</dom-module>
