<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->


<!-- Test component -->


<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-home">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
       
    <body>
    
        <div>
          <center><img src="../images/ntnu-campus.jpg" width="300px" height="auto"></br>
          <h2>Forelesninger på  <span> nett</span></h2><br></center>
          <a href="#" class="w3-bar-item w3-button">Home</a>
          <a href="#" class="w3-bar-item w3-button">Register</a>
          <a href="#" class="w3-bar-item w3-button">Login</a>
        </div>
    
    </div>
        
    </body>
  </template>

  <script>
    class MyHome extends Polymer.Element {
      static get is() { return 'my-home'; }

    }

    window.customElements.define(MyHome.is, MyHome);
  </script>
</dom-module>
