<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../src/shared-styles.html">

<link rel="import" href="../bower_components/sortable-list/sortable-list.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="my-playlists">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style include="shared-styles">
    :host {
      display: block;
      padding: 16px;
    }
    </style>

    <!--Fetching the users playlists from the API -->
    <iron-ajax
    auto
    id="playlists"
    with-credentials="true"
    method="POST"
    url="[[fetchPlaylists]][[params]]"
    handle-as="json"
    content-type="application/x-www-form-urlencoded"
    last-response="{{playlists}}"
    debounce-duration="300"></iron-ajax>


    <div class="card">
      <div class="circle">My playlists</div>
      <!-- Repeating over the users playlist(s) -->
      <template is="dom-repeat" items="{{playlists}}" as="playlists">
        <!-- Container holding 1 playlist -->
        <div class="card" id=[[index]]>
          <div>Title: <span>[[playlists.title]]</span></div>
          <div>Author: <span>[[playlists.author]]</span></div>
          <div>Description: <span>[[playlists.description]]</span></div>

          <!-- Fetching videos in the users playlist(s) -->
          <iron-ajax
          auto
          id="videos"
          with-credentials="true"
          method="POST"
          url="[[fetchPlaylistVideos]]"
          handle-as="json"
          content-type="application/x-www-form-urlencoded"
          body={{playlists}}
          last-response="{{playlistvideo}}"
          debounce-duration="300"></iron-ajax>
          <!-- Repeating over the videos from one playlist per repeat -->
          <sortable-list>
          <template is="dom-repeat" items="{{playlistvideo}}" as="playlistvideo">
            <!-- Container holding a single video -->
            <div class="card" id=[[index]]>
              <div>Video Position: [[playlistvideo.position]]</div>
              <div>Video title: [[playlistvideo.title]]</div>
              <div>Video author: [[playlistvideo.author]]</div>
              <div>Video description: [[playlistvideo.description]]</div>
            </div>
            </template
          </sortable-list>
          </div>
        </template>
      </div>
    </template>

    <script>
    // Your new element extends the Polymer.Element base class
    class MyPlaylists extends Polymer.Element {
      static get is() { return 'my-playlists'; }
      static get properties() {
        return {
          fetchPlaylists: {
            type: String,
            value: window.Polymer.apiBaseURL + 'fetchPlaylists.php',
          },
          fetchPlaylistVideos: {
            type: String,
            value: window.Polymer.apiBaseURL + 'fetchPlaylistvideos.php',
          },
        };
      }
    }

    //Now, register your new custom element so the browser can use it
    customElements.define(MyPlaylists.is, MyPlaylists);
    </script>
  </dom-module>
