
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../src/shared-styles.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="my-user-register">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">Registration</div>
      
      <iron-ajax
      id="ajax"
      with-credentials="true"
      url="[[url]][[params]]"
      handle-as="json"
      content-type="application/x-www-form-urlencoded"
      on-response="handleResponse"
      last-response="{{response}}"
      debounce-duration="300"></iron-ajax>
      
      <template is="dom-if" if="{{notRegistered}}">
        <div class="card">
          <paper-input id="fname" label="First Name" type="text" value="{{fname}}" auto-validate pattern="[a-zA-Z]*" error-message="text only"></paper-input>
          <paper-input id="fname" label="Last Name" type="text" value="{{lname}}" auto-validate pattern="[a-zA-Z]*" error-message="text only"></paper-input>
          <paper-input id="email" label="Email" type="email" value="{{email}}" auto-validate allowed-pattern="[*@*.*]*" error-message="on format test@test.no"></paper-input>
          <paper-input id="password" label="Password" type="password" value="{{password}}" auto-validate allowed-pattern="[*^1]*" error-message="Can't be empty"></paper-input>
          <paper-radio-group selected="{{role}}">
              <paper-radio-button name="1">Student</paper-radio-button>
              <paper-radio-button name="2">Lærer</paper-radio-button>
              <paper-radio-button name="3">Admin</paper-radio-button>
            </paper-radio-group>
          <paper-button raised on-click="register">Submit</paper-button>
        </div>
      </template>
      <template is="dom-if" if="{{registered}}">
          <p>Velkommen som ny bruker <strong>[[fname]] [[lname]]</strong>!</p>
          <paper-button raised on-click="back">Home</paper-button>
        </template>
    </div>
  </template>

  <script>
    class MyUserRegister extends Polymer.Element {
      static get is() { return 'my-user-register'; }
      static get properties() {
        return {
          url : {                                    // Used by iron-ajax
            type: String,
            value: window.Polymer.apiBaseURL+'register.php'
          },
          registered: {                                  // Used by template "dom-if"
            type: Boolean,
            value: false
          },
          notRegistered: {
            type: Boolean,
            value: true,
            notify: true
          },
          role: {                                     // From user input in login dialog
            type: Number,
            value: 1
          },                                                 // From user input in login dialog
          fname: String,
          lname: String,
          email: String,                                  // From user input in login dialog
          password: String,
          
          student: {                                      // Exported from element, shows what type of user that is logged in
            type: Boolean,
            value: false,
            notify: true
          },
          teacher: {                                      // Exported from element, shows what type of user that is logged in
            type: Boolean,
            value: false,
            notify: true
          },
          admin: {                                      // Exported from element, shows what type of user that is logged in
            type: Boolean,
            value: false,
            notify: true
          },
          params : String,                                 // Set to '?logout=true' for logout, '' for all other situations
          page: {
            notify: true
          },
          route: {
            notify: true
          }
        };
      }

      // Handles the ajax response, if status "OK" The registration went well.
      // If not "OK" gives the user feedback 
      handleResponse (res){                                           

        if(res.detail.response.feedback.status != "OK"){
          //For debuging purpose
          console.log(res.detail.response.feedback);
        } else {
          this.student = res.detail.response.userInfo.role==1;
          this.teacher = res.detail.response.userInfo.role==2;
          this.admin = res.detail.response.userInfo.role==3;
          this.registered = true;                                       // Hides the registration form
          this.notRegistered = false;                                   // confirms the reg
        }
      }

      // runs when user clicks "submit". Handles the user reg
      // We choose to generate the ajax request manually
      register (){                                        
        
        if (this.fname && this.lname && this.email && this.password && this.role){
          this.$.ajax.method = "POST";
          this.params = '';
          this.$.ajax.body = {
            fname: this.fname,
            lname: this.lname,
            email: this.email,
            password: this.password,
            role: this.role
          }
          this.$.ajax.generateRequest();                      //Avfyrer ajax-requesten, must hvor auto ikke brukes
        }
      }

      // Sends the user back to home page.
      back() {
        this.set('route.path', '../');                        // sends the user back to home- page
      }

    }
    

    window.customElements.define(MyUserRegister.is, MyUserRegister);
  </script>
</dom-module>
