<!-- Load the Polymer.Element base class -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/vaadin-upload/vaadin-upload.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../src/shared-styles.html">
<dom-module id="my-upload">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>


    <div class="card">
      <div class="card">
        <div class="circle">Upload video</div>
           
          <vaadin-upload id="manualUpload" no-auto maxFiles="1" accept="video/*" method="POST" target="{{url}}">
            <paper-input id="tag" label="Video tag" required type="text" value="{{tag}}" auto-validate error-message="text only"></paper-input>
              <paper-input id="title" label="Video title" required type="text" value="{{title}}" auto-validate error-message="text only"></paper-input>
              <paper-input id="description" label="Video description" required type="text" value="{{description}}" auto-validate error-message="text only"></paper-input>
              <span slot="drop-label"><b>Choose a video</b> or drag it here </span>
              <paper-button raised on-click="_myUpload">Upload</paper-input>
          </vaadin-upload>
          <!--
          <paper-button raised on-click="uploadButton">Start upload</paper-button>
            -->
      </div>

      <!-- Informs the user how the upload went -->
      <template is="dom-if" if="{{success}}">
          <p><strong>The upload was successfull, upload more if you want </strong>!</p>
          
      </template>
      <template is="dom-if" if="{{notSuccess}}">
          <p><strong>The upload failed, please try again</strong>!</p>
      </template>
    </div>
    </template>

    <script>
    // Your new element extends the Polymer.Element base class
    class MyUpload extends Polymer.Element {
      static get is() { return 'my-upload'; }
      static get properties() {
        return {
          url : {
            type: String,
            value: window.Polymer.apiBaseURL+'upload.php'
          },
          title : String,
          description : String,
          tag : String,
          user : {
            type : String,
            value : "none"
          },
          success : {
            type: Boolean,
            value: false
          },
          notSuccess : {
            type: Boolean,
            value: false
          }       
          
        }
      }


      // Called when the user clicks "Upload"
      _myUpload() {
        this.$.manualUpload.addEventListener('upload-request', e => {this._upload(e)});
        this.$.manualUpload.uploadFiles();
        this.$.manualUpload.addEventListener('upload-response', e => {this._handleResponse(e)});
      }

      // Updates the xhr- request with data before sending
      _upload(e) {
        // setting all the data before sending the request
        e.detail.formData.append('title', this.title);
        e.detail.formData.append('description', this.description);
        e.detail.formData.append('tag', this.tag);
        // So that session works
        e.detail.xhr.withCredentials = true;
      }

      // Handles the xhr- video upload response.
      _handleResponse(e) {
        //console.info(e.detail.xhr.response);
        let json = JSON.parse(e.detail.xhr.response);
        if(json.status == 'OK'){
          this.success = true;
          this.notSuccess = false;
        } else {
          this.notSuccess = true;
          this.success = false;
        }
      }
    
    }
  
    

    // Now, register your new custom element so the browser can use it
    customElements.define(MyUpload.is, MyUpload);
  </script>
</dom-module>