<!-- Load the Polymer.Element base class and other dependencies -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../src/shared-styles.html">

<!-- extra components -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-upload/vaadin-upload.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="my-watch.html">

<dom-module id="my-videos">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style include="shared-styles">
    :host {
      display: block;

      padding: 10px;
    }
    #header {
      text-align: center;
    }
    </style>


    <iron-ajax
      auto
      id="ajax"
      with-credentials="true"
      url="[[url]][[params]]"
      handle-as="json"
      content-type="application/x-www-form-urlencoded"
      last-response="{{response}}"
      debounce-duration="300"></iron-ajax>

      <div class="card">
        <template is="dom-if" if="{{allVideos}}">
            <div class="circle">Videos</div>
        </template>

        <template is="dom-if" if="{{allVideos}}">
            <!-- Restores all the video in local prop through function -->
            <div>{{_updateData(response.data)}}</div>
            <h1 id="header">There are [[response.data.length]] videos available for watching</h1>
            <!-- Loops through all the vids from db -->
            <template is="dom-repeat" items="{{response.data}}">
                <div class="card" video="{{item}}">
                   <div></div>
                   <video width="500" height="400" preload='metadata' src="../videos/[[item.id]].mp4#t=0.5">
                   </video>
                    <p>Author: [[item.author]]</p>
                    <p>Title: [[item.title]]</p>
                    <p>Tag: [[item.tag]]</p>
                    <p>description: <span>[[item.description]]</span></p>
                    <!-- When clicked shows only that video in own template (like youtube) -->
                    <paper-button raised id="[[item.id]]" raised on-click="_redirect">Watch</paper-button>

                </div>
            </template>
        </template>

      <template is="dom-if" if="{{response.data.status}}">
        <h3> Error occurred ! Please try again later </h3>
      </template>

      <template is="dom-if" if="{{singleShow}}">
        <my-watch route="{{route}}" allVideos="{{allVideos}}" singleShow="{{singleShow}}" id="{{id}}" title="{{title}}" author="{{author}}" tag="{{tag}}" description="{{description}}"></my-watch>
      </template>
    </div>

    </template>
    <script>
    // Your new element extends the Polymer.Element base class
    class MyVideos extends Polymer.Element {
        static get is() { return 'my-videos'; }
        static get properties() {
            return {
                watching : {
                    type: Boolean,
                    value: true
                },
                // the url request goes to
                url : {
                    type: String,
                    value: window.Polymer.apiBaseURL+'get_all_vids.php'
                },
                error : {
                    type : Boolean,
                    value : false
                },
                params: {
                    type: String,
                    value: '?getVids=true'
                },
                route: {
                    notify: true
                  },
                video : {
                    type: Object,
                    notify: true
                },
                singleShow : {
                    type : Boolean,
                    value : false,
                    notify: true
                },
                allVideos : {
                    type : Boolean,
                    value : true,
                    notify: true
                },

                id : Number,
                title: String,
                tag : String,
                description : String,
                author : String,

                route: {
                    notify: true
                },
                page: {
                    notify: true
                },

                teacher : {
                    type : Boolean,
                    notify: true
                }

            };
        }

        // restores all the videos from response into local property
         _updateData(obj) {
          this.video = obj;
        }
        /*
         * Checks witch video was clicked and renders new full page for it
         * @param: click-event
         */
        _redirect(item){
            // Loops through all the videos and gets the on that was clicked
            for(let i=0; i < this.video.length; i++){
                if(this.video[i].id == item.path[0].id){ //if the clicked id matched on in the video objekt
                    this.id = this.video[i].id;
                    this.title = this.video[i].title;
                    this.tag = this.video[i].tag;
                    this.description = this.video[i].description;
                    this.author = this.video[i].author;
                }
            }
            // Hides allVideos- template and shows single-page template
            this.singleShow = true;
            this.allVideos = false;
        }


        // For debug
        ready() {
            super.ready();
      }
 }

  //Now, register your new custom element so the browser can use it
  customElements.define(MyVideos.is, MyVideos);
  </script>
</dom-module>
