<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">Home</div>
      <h1>Forelesninger på nett</h1>
      <div></div>
      <p>Velkommen til NTNU sin forelesning/ youtube side.</p>
      <p>Vennligst logg inn eller registrer deg som ny bruker for kunne se på videoer.</p>
     
    </div>
    
    <template is="dom-if" if="{{student}}">
      <div class="card">
        Forsidegreier spesielt for student
      </div>
    </template>
    <template is="dom-if" if="{{teacher}}">
      <div class="card">
        Forsidegreier spesielt for lærer
      </div>
    </template>
    <template is="dom-if" if="{{admin}}">
      <div class="card">
        forsidegreier spesielt for admin
      </div>
    </template>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties (){
          text : String
        };
      }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
