<!-- Load the Polymer.Element base class and other dependencies -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../src/shared-styles.html">

<!-- extra components -->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-upload/vaadin-upload.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="my-watch">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style include="shared-styles">
    /*:host {
    display: block;

    padding: 10px;
    }*/
    header {
      text-align: center;
    }
    body>div {
      max-width: 400px;
      display: flex;
    }
    div.subtitles {
      width: 700px;
      overflow-y: scroll;
      height: 400px;
      float: right;
    }
    video.video{
      float: left;
    }
    ul {
      list-style-type: none;
    }
    li {
      padding: 2px 5px;
    }
    li.active {
      background-color: #EEE;
    }
  }
  </style>
  <div class="circle"></div><h1>[[title]]</h1>
  <div class="card">
    <video id="video" width="750" height="500" preload='metadata' controls src="../videos/[[id]].mp4">
      <track label="English" kind="subtitles" srclang="en" src="../videos/subtitles/[[id]].vtt" on-load="subtitles"></video>
        <div class="subtitles" id="subtitles" style="float:right"></div>
        <paper-button raised on-click=faster>Increase playback speed(+10%)</paper-button>
        <paper-button raised on-click=slower>Decrease playback speed(-10%)</paper-button>
        <p>Author: [[author]]</p>
        <p>Description: <span>[[description]]</span></p>
        <p>Tags: [[tag]]</p>
        <paper-button raised on-click="_back">Back</paper-button>
      </div>

    </template>
    <script>
    // Your new element extends the Polymer.Element base class
    class MyWatch extends Polymer.Element {
      static get is() { return 'my-watch'; }
      static get properties() {
        return {
          watching : {
            type: Boolean,
            value: true
          },
          // the url request goes to
          url : {
            type: String,
            value: window.Polymer.apiBaseURL+'get_all_vids.php'
          },
          error : {
            type : Boolean,
            value : false
          },
          params: {
            type: String,
            value: '?getVids=true'
          },
          video : {
            type: Object,
            notify: true
          },

          singleShow : {
            type : Boolean,
            value : false,
            notify: true
          },
          allVideos : {
            type : Boolean,
            value : true,
            notify: true
          },

          id : Number,
          title: String,
          tag : String,
          description : String,
          author : String,

          route: {
            notify: true
          },
          page: {
            notify: true
          },

        };
      }

      //Faster video playback
      faster() {
        this.$.video.playbackRate += 0.15;
      }

      //Slower video playback
      slower() {
        this.$.video.playbackRate -= 0.15;
      }


      // Gets the user back to videos
      _back() {
        console.log('back pressed!');
        this.singleShow = false;
        this.allVideos = true;
        this.set('route.path', '/videos');
      }

      // Used for debuging
      ready() {
        super.ready();
      }


      subtitles(e) {
        const video = this.$.video;          // The actual video
        const track = this.$.video.track;    // The html track element
        const subtitles = this.$.subtitles;  // Where should subtitles be placed
        const cues = [];                                         // An actuall array is easier to handle than the cue list
        const trackCues = e.path[0].track.cues;
        for (let i = 0; i < trackCues.length; i++) {               // Go through the cue list
          cues.push(trackCues[i]);                             // Add all cues to an array
        }
        showSubtitles();                                       // Show all cues alongside the video



        timer(2).then(() => {                                      // Wait 2 seconds
          video.textTracks[0].mode = 'hidden';                     // then load the track, but do not show it on the video
          console.log(video.textTracks[0]);                      // Show the track in the console
        });

        // Loop over all shown cues, remove class 'active'
        video.textTracks[0].addEventListener('cuechange', e => {   // When a cue change event occurs
          this.$.subtitles.querySelectorAll('#subtitles ul li').forEach(li => {
            li.classList.remove('active');
          });


          // Loop throgh the cues, adding the current cue to the active class to hightlight them
          for (let i = 0; i < e.target.activeCues.length; i++) {     // Loop over active cues
            this.$.subtitles.querySelector(`li[data-id="${e.target.activeCues[i].id}"]`)
            .classList.add('active');    // Add class 'active' to active cues
            this.$.subtitles.querySelector(`li[data-id="${e.target.activeCues[i].id}"]`)
            .scrollIntoView({ block: "center" });
          }
        });

        // Jumps to the position of the selected text
        subtitles.addEventListener('click', e => {
          let f = e.target.attributes[1].value;
          video.currentTime = f;
        });

        /**
        * Takes cues (subtitles) from the global array cues and adds them as
        * list items to an unnumbered list in the subtitles elementHeader.
        */
        function showSubtitles() {
          let html = '<ul>';
          cues.forEach(cue => {
            html += `<li data-id="${cue.id}" data-start-time="${cue.startTime}">${nl2br(cue.text)}</li>`;
          });
          html += '</ul>';
          subtitles.innerHTML = html;
        }

        /**
        * Create a promise that will resolve after the given time.
        *
        * @param  Number sec how long (in seconds) to wait before resolving the promise
        * @return Promise will be resolved when the desired time has passed
        */
        function timer(sec) {
          return new Promise((resolve, reject) => {
            window.setTimeout(resolve, sec * 1000);  // Resolve when time has passed
          });
        }

        /**
        * Adds newline to br tag conversion for Strings
        *
        * @return String the content of the string with all newline characters replaced by a 'br' tag.
        */
        function nl2br (str) {
          return str.replace(/\n/g, "<br />");
        };
      }


    }

    //Now, register your new custom element so the browser can use it
    customElements.define(MyWatch.is, MyWatch);
    </script>
  </dom-module>
